asttokens==3.0.1
attrs==25.4.0
autopep8==2.3.2
cffi==2.0.0
decorator==5.2.1
executing==2.2.1
grpcio==1.64.0
grpcio-tools==1.64.0
ipython==9.10.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
numpy==1.26.4
paho-mqtt==2.1.0
parso==0.8.6
pexpect==4.9.0
prompt_toolkit==3.0.52
protobuf==5.29.6
ptyprocess==0.7.0
pure_eval==0.2.3
pycodestyle==2.14.0
pycparser==3.0
pydantic==1.9.1
Pygments==2.19.2
pynq==3.1.2
pynqmetadata==0.1.9
pynqutils==0.1.2
python-dotenv==1.2.1
python-magic==0.4.27
referencing==0.37.0
rpds-py==0.30.0
stack-data==0.6.3
tqdm==4.67.3
traitlets==5.14.3
typing_extensions==4.15.0
wcwidth==0.6.0
